{% extends 'trainers/pokemon_web_template.html' %}
{% load static %}
{% block body %}
	<div class="header-section">
		{% if user.is_authenticated %}
			<a href="{% url 'add_pokemon' %}" class="btn btn-primary pull-right">Add a Pokemon</a>
		{% endif %}
		<h1>All Pokemons</h1>
		<hr>
		<hr class="bottom-line">
	</div>
	{% for pokemon in pokemons %}
		{% if pokemon.pokemon.is_verified %}
			<div class="col-md-3">
				<div class="card card-vertical card-short">
					<p>Trainer: <a href="{% url 'trainer_pokemon_list' pk=pokemon.trainer.pk %}">{{ pokemon.trainer.name }}</a></p>
					<img class="card-img-top-short" src="{{ pokemon.pokemon.photo.url }}" alt="Card image cap">
					<div class="card-body">
						<div class="col-md-12">
							<small class="text-muted">
								{% if pokemon.nickname %}
							 		{{ pokemon.nickname }}
							 	{% else %}
							 		{{ pokemon.pokemon.name }}
								{% endif %}
							</small>
							<h3 class="card-title card-title-short">
								{{ pokemon.pokemon.name }}
							</h3>
							<small>Lvl {{ pokemon.level }}</small>
							{% if pokemon.shiny %}
								<small><span class="glyphicon glyphicon-star" title="shiny"></span></small>
							{% endif %}
							<br><small class="type-capsul type-{{ pokemon.pokemon.type1 }}">{{ pokemon.pokemon.type1 }}</small>
							{% if pokemon.pokemon.type2 %}
								<small class="type-capsul type-{{ pokemon.pokemon.type2 }}">{{ pokemon.pokemon.type2 }}</small>
							{% endif %}
						</div>
						<div class="col-md-12 fea text-center">
							<a href="{% url 'release_trainer_pokemon' pk=pokemon.pk %}" class="btn btn-default btn-sm">RELEASE</a>	
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}